.banner {
  margin-top: 60px;
  margin-bottom: 100px;
}

.banner__content {
  height: 500px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

/* .banner__img {
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 85px rgb(51, 51, 51)
} */

.banner__title {
  max-width: 340px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.25;
}

.banner__desc {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.05em;
}

.banner__btn {
  padding: 12px 32px;

  border-radius: 10px;
  background-color: var(--text-colorWhite);

  color: var(--text-colorBlack);
  font-size: 22px;
  font-weight: 500;
}